@import "~/styles/functions.scss";
@import "~/styles/mixins.scss";
@import "~/styles/variables.scss";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 0 spacing(8);

  &__divider {
    border: solid 1px $color-grey-100;
    width: 100%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 112px;
    padding: spacing(3) 0 spacing(5);
    max-width: $section-max-width;
  }

  &__rights {
    display: flex;
    align-items: center;
    gap: spacing(2);
    font-size: 16px;

    b {
      font-weight: 700;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: spacing(2);
  }
}

@media (max-width: $breakpoint-md) {
  .footer {
    padding: 0 spacing(4);

    &__content {
      flex-direction: column;
      align-items: center;
      gap: spacing(2);
      height: fit-content;

      & > div:first-child {
        width: 160px;
      }
    }

    &__rights {
      flex-direction: column;
      font-size: 14px;
      gap: 0;
    }
  }
}
