@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lato:wght@300;400;700&display=swap");

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.2s ease;
  font-family: "Lato", sans-serif;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 49px;
}

h2 {
  font-size: 39px;
  font-weight: 600;
}

h3 {
  font-size: 31px;
}

h4 {
  font-size: 25px;
  font-weight: 400;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

button {
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

a {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.25px;
}

.display-xl,
.display {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.display-xl {
  font-size: 96px;
}

.display {
  font-size: 61px;
}
