$color-black: #1C1D20;
$color-blue: #71A9F7;
$color-green: #0E7C7B;
$color-white: #FFFFFF;

$color-grey-100: #E8E8E9;
$color-grey-400: #494A4D;

$color-orange-100: #FFF3E5;
$color-orange-200: #FFE7CC;
$color-orange-300: #FFDBB2;
$color-orange-400: #FFCF99;
$color-orange-600: #FFB866;
$color-orange-800: #FFA033;
$color-orange: #FF8800;

$color-purple-100: #F2EEFA;
$color-purple-200: #E6DEF6;
$color-purple-300: #D9CDF2;
$color-purple-400: #CDBDED;
$color-purple-600: #B59DE5;
$color-purple-800: #835BD3;
$color-purple: #6432C8;
