@import "~/styles/variables.scss";

.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 3%;

  &__black svg {
    fill: $color-black;
  }

  &__white svg {
    fill: $color-white;
  }

  svg {
    &:nth-child(1) {
      height: 100%;
      width: 30%;
    }

    &:nth-child(2) {
      height: 80%;
      width: 70%;
    }

    path {
      &.fill-purple {
        fill: $color-purple;
      }

      &.fill-orange {
        fill: $color-orange;
      }
    }
  }

  &--responsive {
    svg {
      &:nth-child(1) {
        width: 100%;
      }
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .logo {
    svg {
      &:nth-child(1) {
        width: 100%;
      }

      &:nth-child(2) {
        display: none;
      }
    }
  }
}
